
  <div class="container">

    <div class="d-flex flex-wrap justify-content-end align-items-center mb-3 gap-2 mt-5">
      <button mat-raised-button color="primary" routerLink="/add">Add User</button>
    
      <mat-form-field appearance="fill" class="mat-form-field-sm" style="min-width: 250px; max-width: 400px; width: 100%;">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" />
      </mat-form-field>
    </div>
    
  
    <div class="row d-none d-md-block">
      <div class="col-12">
        <div class="mat-elevation-z8 table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="mat-table w-100">
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let user">{{ user.name }}</td>
            </ng-container>
  
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let user">{{ user.email }}</td>
            </ng-container>
  
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef>Role</th>
              <td mat-cell *matCellDef="let user">{{ user.role }}</td>
            </ng-container>
  


            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef style="min-width: 120px;">Actions</th>
              <td mat-cell *matCellDef="let user">
                <button mat-button color="accent" [routerLink]="['/edit', user.id]">Edit</button>
                <button mat-button color="warn" (click)="openDeleteDialog(user.id)">Delete</button>
              </td>
            </ng-container>
            <ng-template #deleteDialog let-data>
              <h2 mat-dialog-title>Confirm Delete</h2>
              <mat-dialog-content>
                <p>Are you sure you want to delete this user?</p>
              </mat-dialog-content>
              <mat-dialog-actions align="end">
                <button mat-raised-button color="warn" (click)="dialogRef.close(true)">Yes</button>
                <button mat-button (click)="dialogRef.close(false)">No</button>
              </mat-dialog-actions>
            </ng-template>
            
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <mat-paginator [pageSize]="10"></mat-paginator>
        </div>
      </div>
    </div>
  
    <div class="row d-md-none">
      <div class="col-12" *ngFor="let user of dataSource.filteredData">
        <mat-card class="mb-3">
          <mat-card-content>
            <h5 class="mb-2">{{ user.name }}</h5>
            <p class="mb-1"><strong>Email:</strong> {{ user.email }}</p>
            <p class="mb-2"><strong>Role:</strong> {{ user.role }}</p>
            <div class="text-end">
              <button mat-icon-button color="accent" [routerLink]="['/edit', user.id]" >
                <mat-icon>Edit</mat-icon>
              </button>
              <button mat-icon-button color="warn"  (click)="openDeleteDialog(user.id)" >
                <mat-icon>Delete</mat-icon>
              </button>
            </div>
            <ng-template #deleteDialog let-index="index">
              <h2 mat-dialog-title>Confirm Delete</h2>
              <mat-dialog-content>
                <p>Are you sure you want to delete this family image?</p>
              </mat-dialog-content>
              <mat-dialog-actions align="end">
                <button mat-raised-button color="warn" (click)="dialogRef.close(true)">Yes</button>
                <button mat-button (click)="dialogRef.close(false)">No</button>
              </mat-dialog-actions>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  