

   <div class="container mt-4 d-flex justify-content-center">
    <div class="card w-100 shadow" style="max-width: 600px;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4">{{ isEditMode ? 'Update User' : 'Add User' }}</h5>
  
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <mat-form-field appearance="fill" class="w-100">
              <input matInput id="name" formControlName="name" />
              <mat-error *ngIf="userForm.get('name')?.hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <mat-form-field appearance="fill" class="w-100">
              <input matInput id="email" type="email" formControlName="email" />
              <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="userForm.get('email')?.hasError('pattern')">
                Invalid email format
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <mat-form-field appearance="fill" class="w-100">
              <mat-select id="role" formControlName="role">
                <mat-option value="" disabled>Select Role</mat-option>
                <mat-option value="Admin">Admin</mat-option>
                <mat-option value="User">User</mat-option>
              </mat-select>
              <mat-error *ngIf="userForm.get('role')?.hasError('required')">
                Role is required
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="text-end">
            <button mat-raised-button color="primary" type="submit">
              {{ isEditMode ? 'Update User' : 'Add User' }}
            </button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  
  